<%- include("header"); -%>

<h2>Experience</h2>

<form action="/experience" method="post">
  <div class="row">
    <div class="col col-4">
      <label class="form-label" for="title">Title</label>
      <input class="form-control" type="text" id="title" name="title" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="company">Company</label>
      <input class="form-control" type="text" id="company" name="company" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="location">Location</label>
      <input class="form-control" type="text" id="location" name="location" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="startDate">Start Date</label>
      <input class="form-control" type="text" id="startDate" name="startDate" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="endDate">End Date</label>
      <input class="form-control" type="text" id="endDate" name="endDate" />
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-warning">Responsibilities >></button>
</form>

<%- include("footer") -%>
