<%- include("header"); -%>
<h1>Easy CV</h1>

<form action="/" method="post">
  <div class="row">
    <div class="col col-4">
      <label class="form-label" for="firstName">First Name</label>
      <input class="form-control" type="text" id="firstName" name="firstName" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="lastName">Last Name</label>
      <input class="form-control" type="text" id="lastName" name="lastName" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="email">Email</label>
      <input class="form-control" type="text" id="email" name="email" />
    </div>
    <div class="col col-4">
      <label class="form-label" for="phone">Phone</label>
      <input class="form-control" type="text" id="phone" name="phone" />
    </div>
    <div class="col col-8">
      <label class="form-label" for="address">Address</label>
      <input class="form-control" type="text" id="address" name="address" />
    </div>
    <div class="col col-12">
      <label class="form-label" for="summary">Summary</label>
      <textarea
        class="form-control"
        type="text"
        id="summary"
        name="summary"
      ></textarea>
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-warning">Next >></button>
</form>

<%- include("footer") -%>
